<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FromServerUserName" value="" />
    <add key="FromServerPassword" value="" />
    <add key="FromDatabaseName" value="" />
    <add key="FromServerName" value="" />
    <add key="ToServerUserName" value="" />
    <add key="ToServerPassword" value="" />
    <add key="ToDatabaseName" value="" />
    <add key="ToServerName" value="" />
  </appSettings>
</configuration>